@use '../../foundation/variable' as *;
@use '../../foundation/function' as *; 
@use '../../foundation/mixin' as *;


/* --------------
ボタン
-----------------*/

.c-btn {
    color: $font-color2; 
    background-color: $main-color;
    border: $main-color solid;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.4s ease;
    &:hover {
     color: $main-color;
     background-color: $font-color2;
     }
 }

 .c-btn--contact {
    width: rem(300);
    height: rem(60);
    font-size: rem(20);
    font-weight: 600;
    line-height: 1.65;
    padding-top: rem(6);
    margin-bottom: rem(-1);
    letter-spacing: 0.15em;
    bottom: 28.2rem;
    right: 0;
    transition:
    background-color 0.5s ease;
    &:hover {
     color: $main-color;
     background-color: $font-color2;
    }
    @include sp {
        left: 50%;
        right: auto;
        transform: translateX(-50%) ;
        padding: rem(12) rem(101) rem(12) rem(98);
        bottom: rem(304);
        width: rem(335);
        white-space: nowrap;
    }
 }