@use '../../foundation/variable' as *;
@use '../../foundation/function' as *; 
@use '../../foundation/mixin' as *;


/* --------------
トップへ戻るボタン
-----------------*/

.c-back-btn {
    display: grid;
    place-content: center;
    width: rem(68);
    height: rem(68);
    background-color: rgba(0, 0, 0, 0.502);
    border-radius: 50%;
    cursor: pointer;
    pointer-events: all;
    transition: all 0.4s ease;
     /* ホバー時のフェード */
    &:hover {
     opacity: 0.7;
    }
}

.c-back-btn__img {
    width: rem(27);
}

