@use '../../foundation/variable' as *;
@use '../../foundation/function' as *; 
@use '../../foundation/mixin' as *;


/* --------------
ボタン
-----------------*/

.c-btn {
    color: $font-color2; 
    background-color: $main-color;
    border: $main-color solid;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.4s ease;
    &:hover {
     color: $main-color;
     background-color: $font-color2;
     }
 }

 .c-btn--contact {
    display: grid;
    place-content: center;
    width: rem(300);
    height: rem(60);
    font-size: rem(20);
    font-weight: 600;
    line-height: 1.65;
    letter-spacing: 0.15em;
    @include sp {
        width: rem(335);
    }
 }