@use '../../foundation/variable' as *;
@use '../../foundation/function' as *; 
@use '../../foundation/mixin' as *;

/* --------------
投稿がないとき
-----------------*/

.c-no-data {
    margin-top: rem(40);
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: rem(30);
}

.c-no-data__text {
    line-height: calc(28 / 16);
}

.c-no-data__btn {
    width: rem(250);
    height: rem(50);
    font-size: rem(25);
    line-height: calc(33 / 25);
    @include sp {
        width: rem(335);
        font-size: rem(20);
        line-height: calc(26 / 20);
    }
}