@use '../../foundation/variable' as *;
@use '../../foundation/function' as *; 
@use '../../foundation/mixin' as *;

// ==========================================================================
// p-breadcrumbs
// ==========================================================================

.p-breadcrumbs {
    background-color: #e8e8e8;
}

.p-breadcrumbs__list {
    width: 100%;
    height: rem(50);
    @include sp {
        height: rem(36);
        overflow-x: auto;    /* 横スクロール有効化 */
        /* スクロールバー非表示設定 */
        -ms-overflow-style: none;
        scrollbar-width: none;
        &::-webkit-scrollbar { 
        display: none;
        }
    }
}

.p-breadcrumbs__inner {
    width: 100%;
    max-width: rem(880);
    display: flex;
    height: 100%;
    flex-wrap: nowrap;            // 折り返さない
    white-space: nowrap;          // テキストも折り返さない
    column-gap: rem(20);
    margin: 0 auto;
    overflow: hidden;
    @include sp {
        width: auto;
        max-width: none;
        display: inline-flex;
    }
}

.p-breadcrumbs__list span {
    display: flex;
    align-items: center;
    max-width: 100%;
    height: 100%;
    min-width: 0;
    flex-shrink: 0;
    /* 最後の項目だけは縮める */
    &:last-of-type {
        @include pc { // PC表示の時に適用
            // 親要素のspan自身、またはその中のspan要素に適用
            flex-shrink: 1; // 最後の要素だけ縮むように設定
            min-width: 0; // 縮む設定と合わせて最小幅をリセット
            
            // テキストを保持する要素に適用 (ここでは仮に直下のspanとする)
            span {
                display: block; // インライン要素をブロック要素に変更
                max-width: 100%; // 親要素の幅いっぱいまで
                overflow: hidden; // はみ出たテキストを隠す
                text-overflow: ellipsis; // 3点リーダー表示
                white-space: nowrap; // テキストを折り返さない
                line-height: rem(50);
            }
        }
        @include sp {
            flex-shrink: 0; // SPでは縮まない
            // SPでは3点リーダーを解除したい場合はこちら
            span {
                overflow: visible;
                text-overflow: clip;
            }
    }
}
}



.p-breadcrumbs__list a {
    height: 100%;
    line-height: rem(50);
    transition: all .3s;
    &:hover {
    opacity: 0.5;
    }
    @include sp {
        display: flex;
        align-items: center;
        line-height: calc(33 / 16);
    }
}

.p-breadcrumbs__link {
    height: 100%;
    line-height: rem(50);
    transition: all .3s;
    &:hover {
        opacity: 0.5;
        line-height: calc(33 / 16);
    }
}

.post-result,
.post-blog {
    display: block;
    height: 100%;
    flex-shrink: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    @include sp {
        line-height: calc(33 / 16);
    }
}