@use '../../foundation/variable' as *;
@use '../../foundation/function' as *; 
@use '../../foundation/mixin' as *;

// ==========================================================================
// p-fix-area
// ==========================================================================

.p-fix-area {
  width: rem(300);
  position: fixed;
  bottom: rem(274);
  right: 0;
  z-index: 1000;
  display: none;
  @include sp {
    width: rem(335);
    bottom: rem(303);
    left: 50%;
    transform: translateX(-50%);
  }
}

.p-fix-area__inner {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: rem(30);
    @include sp {
      row-gap: rem(20);
      align-items: flex-end;
    }
}