@use '../../foundation/variable' as *;
@use '../../foundation/function' as *; 
@use '../../foundation/mixin' as *;


// ==========================================================================
// p-header
// ==========================================================================

.p-header {
    height: rem(80);
    text-align: center;
    background-color: $font-color2;
    @include sp {
        height: rem(50);
    }
}

.p-header__inner {
    max-width: rem(940);
    padding-inline: rem(30);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    @include sp {
        padding-inline: rem(20) 0;
    }
}

.p-header__right {
    height: 100%;
    display: flex;
    align-items: center;
}

.p-header__btn {
    width: rem(150);
    height: rem(45);
    font-size: rem(15);
    line-height: calc(33 / 15);
    font-weight: 700;
    margin-left: rem(10);
}

// ==========================================================================
// p-header-logo
// ==========================================================================

.p-header-logo {
    height: 100%;
    display: flex;
    align-items: center;
    column-gap: rem(10);
    transition: 0.4s ease;
    &:hover {
        opacity: 0.7;
    }
    @include sp {
        column-gap: rem(6);
    }
}

.p-header-logo__img {
    width: rem(32);
    display: block;
    @include sp {
        width: rem(21);
    }
}


.p-header-logo__text {
    display: inline-block;
    font-size: rem(20);
    font-weight: 700;
    line-height: calc(23 / 20);
    padding-top: rem(4);
    text-align: left;
    @include sp {
        font-size: rem(13);
        line-height: calc(14 / 13);
        padding-top: 0;
    }
    span {
        display: inline-block;
        font-size: rem(15);
        @include sp {
            font-size: rem(13);
        }
    }
}

// ==========================================================================
// p-header-nav
// ==========================================================================

.p-header-nav {
    height: 100%;
}

.p-header-nav__lists {
    height: 100%;
    display: flex;
    align-items: center;
    column-gap: rem(13);
    @include sp {
        display: block;
        top: rem(50);
        width: rem(300);
        height: rem(174);
        background-color: $main-color;
        position: fixed;
        right: -120%;
        transition: right 0.3s;
    }
}
.p-header-nav__lists.active {
    right: 0%;
}


.p-header-nav__lists li {
    height: 100%;
    @include sp {
        display: block;
        height: rem(58);
    }
    &:last-child {
      margin-left: rem(10);
      @include sp {
        margin-left: 0;
      }
    }
}

.p-header-nav__lists a {
    height: 100%;
    width: 100%;
    display: flex;
    padding-inline: rem(10);
    align-items: center;
    font-size: rem(17);
    line-height: calc(33 / 17);
    font-weight: 700;
    color: $font-color1;
    position: relative;

   // --- PC用の下線設定 ---
    &::after {
        content: '';
        position: absolute;
        bottom: rem(20); // リンクの下端に配置
        left: 0;
        width: 0; // 通常時は幅0
        height: 2px; // 下線の太さ
        background-color: $font-color1; // 下線の色
        transition: width 0.3s ease-out; // アニメーション
    }

    &:hover {
        // ホバー時に下線の幅を100%にする
        &::after {
            width: 100%;
        }
    }
    // --- PC用の下線設定 終了 ---

    @include sp {
        width: 100%;
        height: 100%;
        padding-inline: rem(20);
        font-size: rem(18);
        line-height: calc(33 / 18);
        color: $font-color2;
        transition: background-color 0.3s ease;

        // SPでは下線を非表示にするか、幅のアニメーションを無効化
        &::after {
            display: none; // SPでは下線を完全に非表示
        }

        &:hover {
            background-color: $font-color1;
        }
    }
}

.p-header-nav__lists li:last-child a {
    justify-content: center;
    font-size: rem(15);
    width: rem(150);
    color: $font-color2; 
    background-color: $main-color;
    border: $main-color solid;
    font-weight: 600;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: color 0.4s ease, background-color 0.4s ease;;
    &::after {
    display: none; // SPでは下線を完全に非表示
     }
    &:hover {
     color: $main-color;
     background-color: $font-color2;
     }
}




@include pc {
    .p-header-nav__list::after {
        content: "";
        position: absolute;
        left: 50%;
        bottom: rem(25);
        width: 0;
        height: rem(2);
        background-color: $font-color1;
        transition: width 0.3s ease, left 0.3s ease;
    }
    .p-header-nav__list:hover::after {
        width: 100%;
        left: 0;
    }
}


// ==========================================================================
// ヘッダー調整
// ==========================================================================
.p-header-nav__lists {
  li {
    &:last-child {
      height: rem(45);
    }
  }
}