@use '../../foundation/variable' as *;
@use '../../foundation/function' as *; 
@use '../../foundation/mixin' as *;

// ==========================================================================
// p-pagination
// ==========================================================================

.p-pagination {
    margin-top: rem(54);
    display: flex;
    column-gap: rem(79);
    @include sp {
      justify-content: space-between;
      margin-top: rem(45);
      column-gap: rem(22);
    }
}

.p-pagination a {
  width: 38.6%;
  transition: all 0.5s ease;
  &:hover {
      opacity: 0.7;
  }
  @include sp {
    width: 46.6%;
  }
}

.p-pagination__prev {
    background-color: $font-color1;
    color: $font-color2;
    font-size: rem(17);
    line-height: calc(30 / 17);
    text-align: left;
    padding: rem(3) rem(20) rem(3);
    width: 100%;
    @include sp {
        padding: rem(4) rem(20) rem(3);
    }
}

.p-pagination__articlearea {
    display: flex;
    margin-top: rem(16);
    column-gap: rem(16);
}

.p-pagination__image {
    width: rem(98);
}

.p-pagination__image img {
    aspect-ratio: 98 / 68;
    object-fit: cover;
}

.p-pagination__title {
    flex: 1;
    font-size: rem(16);
    font-weight: 600;
    line-height: calc(25 / 16);
    // 3行以上は省略
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    @include sp {
        width: 100%;
    }
}

.p-pagination__next {
    text-align: right;
}

.p-pagination__link.is-next {
    margin-left: auto;
}